                <!-- Language Selector -->
                <select class="sel-lang" onchange="onLanChange(this.options[this.options.selectedIndex].dataset.lang)">
                    <option data-lang="{{ include.primary_lang | default: 'zh' }}" selected>
                        {{ include.primary_label | default: '中文 | Chinese' }}
                    </option>
                    <option data-lang="{{ include.secondary_lang | default: 'en' }}">
                        {{ include.secondary_label | default: '英文 | English' }}
                    </option>
                </select>
